{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_form_inner %}
    {{ parent() }}

    {% if page.product.availableStock == 0 %}
    {% if context.customer is not null %}
        {% set customer_email = context.customer.email %}
    {% else %}
        {% set customer_email = '' %}
    {% endif %}
        <div class="row mt-2">
            <div class="col-12">
                <span style="font-weight: bolder">Let me know when the product will be again available:</span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <select class="form-control" id="wareemail-min-stock-count">
                    {% for i in 1..10 %}
                        <option value="{{ i }}">Notify me when {{ i }} item(s) in stock</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-6">
                <input type="text" class="form-control pl-0" name="wareemail-customer-email" value="{{ customer_email }}" id="wareemail-email" placeholder="Your e-mail" required="required">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <button class="btn btn-primary" name="wareemail-customer-email-save" value="" id="wareemail-save-button">Save</button>
            </div>
            <input type="hidden" name="wareemail-product-number" value="{{ page.product.productNumber }}">
        </div>
    {% endif %}

    <script>
        function onSaveEmailProductButtonClicked() {
            let email = document.getElementById('wareemail-email').value;
            let productNumber = '{{ page.product.productNumber }}';
            let minStockCount = document.getElementById('wareemail-min-stock-count').value;

            //TODO: change this to DOM
            if (email === '') {
                alert('Email cannot be empty');
                return false;
            }

            let payload = {
                'email' : email,
                'product_number': productNumber,
                'min_stock_count': minStockCount
            }

            var xhr = new XMLHttpRequest();
            xhr.open("POST", '{{ path('ware.email.save.dynamic') }}', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var responseData = JSON.parse(xhr.responseText);
                    onSaveEmailProductResponse(responseData);
                }
            };

            xhr.send(JSON.stringify(payload));
            //prevent form from being sent
            return false;
        }

        function onSaveEmailProductResponse(responseData) {
            alert(responseData.result);
        }

        let saveEmailProductButton = document.getElementById('wareemail-save-button');
        saveEmailProductButton.addEventListener('click', onSaveEmailProductButtonClicked);

    </script>
{% endblock %}

